---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div align="center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- git_blog_bottom2 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5203718844525133"
         data-ad-slot="7437795070"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="entry">
    {{ content }}
  </div>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div align="center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- git_blog_bottom2 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5203718844525133"
         data-ad-slot="7437795070"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  {% include disqus.html %}
</article>
